In [10]:
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as stats
import matplotlib.pyplot as plt
from matplotlib import cm
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

df = sns.load_dataset('tips')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
stats.ttest_ind(df[df.time == 'Dinner'].total_bill.dropna(),
               df[df.time == 'Lunch'].total_bill.dropna())

Ttest_indResult(statistic=2.8976375218366424, pvalue=0.004104621407595674)

In [12]:
df['spending_bin'] = pd.qcut(df.total_bill, 4, labels=False)

In [13]:
tbl = pd.crosstab(df['time'], df['spending_bin'])
tbl

stat, p, dof, expected = stats.chi2_contingency(tbl)

In [14]:
p

0.010428726947196706